ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li,
p,
h2 {
  margin: 0;
}

.main-wrapper {
  border: 1px solid rgb(128, 128, 128);
  width: 520px;
  border-radius: 5px;
  padding: 30px;
}


form {
  display: flex;
  justify-content: space-between;
}
.listBtn{
  display: flex;
  justify-content: space-between;
}
.btn-items:last-child{
  margin-left: 10px;
}

.search-field {
  padding: 6px;
  width: 200px;
  border-radius: 4px;
  background-color: rgb(231, 225, 165);
}
.search-field:focus {
  color: midnightblue;
}

input::placeholder {
  color: midnightblue;
  font-size: 14px;
}
.search-btn {
  padding: 8px;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgb(0, 128, 0);
  background-color: rgb(238, 157, 8);
  transition: all 500ms ease-in-out;
}
.search-btn:hover,
.search-btn:focus  {
  cursor: pointer;
  background-color: rgb(214, 63, 8);
  color: #fff;
}
.city-name {
  margin-top: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.info{
  position: relative;
  display: flex;
  justify-content: space-between;
   align-items: center;
}
.temp-list{
  display: flex;
  position: absolute;
  top:27px;
  left: 136px;

}
.temp-wrap{
  display: flex;
}

.text-title {
  font-size: 56px;
  padding-left: 10px;
}

.tempC,
.tempF {
  margin-left: 3px;
  transition: color 500ms ease-in-out;
}
.tempC:hover,
.tempC:focus,
.tempF:hover,
.tempF:focus{
  color: rgb(214, 63, 8);

}
.wind {
  font-size: 18px;
  font-weight: 500;
}
.active{
  font-weight: 900;
  color: rgb(238, 157, 8);
}
.desc{
 
  font-size: 18px;
  font-weight: 500;;
}

.desc-list:not(:first-child){
  margin-top: 4px;
}

.bottom-title{
  margin-top: 20px;

}
.descritpion::first-letter{
  text-transform: uppercase;

}
